body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.header {
    background-color: #E554731A;
    /* max-width: 1900px;
    max-height: 850px; */
}

.banner {
    display: flex;
    align-items: center;
}

.banner-content {
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 90px;
}

.banner-heading {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
}

.banner-info {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-top: 32px;
}

.banner-img {
    width: 500px;
    height: 700px;
}

/* feature */

.feature-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 180px;
}

.feature-info {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    /* padding-left: 260px;
    padding-right: 260px; */
    margin-top: 25px;
}

.feature-container {
    display: flex;
}

.feature-container-flower {
    width: 465px;
    height: 535px;
    text-align: center;
}

.feature-img-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 100px 70px 0px;
}

.feature-img-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 115px 45px 50px;
}

.feature-img-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 65px 75px 0px;
}

.services {
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    margin-top: 130px;
    background: rgba(39, 39, 39, 0.05);
}